osx_image: xcode9
language: objective-c
script:
- xcodebuild -workspace RateLimit.xcworkspace -scheme RateLimit\ Tests -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone SE' test | xcpretty && exit ${PIPESTATUS[0]}
before_script:
- gem install xcpretty
after_success:
# Workaround to random travis CI failure
# See https://github.com/travis-ci/travis-ci/issues/4725
 - sleep 5